// out: ../css/styles.css, sourcemap: true, compress: true
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Condensed:300,700|Quicksand');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@xxl: ~"(min-width: 1400px)";
@xl: ~"(min-width: 1200px)";
@lg: ~"(max-width: 1200px)";
@gmd: ~"(min-width: 992px)";
@md: ~"(max-width: 991px)";
@sm: ~"(max-width: 767px)";
@gsm: ~"(min-width: 768px)";
@xs: ~"(max-width: 480px)";

body{
    font-family: Verdana, Arial, Helvetica, sans-serif, serif;
}

a{
    text-decoration: none;
    color: #369;
    &:focus, &:hover{
        text-decoration: none;
        color: #369;
    }
}
p{
    margin: 0;
}
ul{
    padding-left: 0px;
}

.resume-template .header{
    width: 100%;
    background-color: #cee3f8;
    border-bottom: 1px solid #5f99cf;
    position: relative;
    z-index: 99;
    .sr-header{
        background-color: #f0f0f0;
        text-transform: uppercase;
        border-bottom: 1px solid gray;
        height: 18px;
        line-height: 18px;
        font-size: 9px;
        .dropdown-sr{
            float: left;
            padding-left: 5px;
            cursor: default;
            display: inline;
            position: relative;
            .my-sr{
                display: inline-block;
                vertical-align: bottom;
                padding-right: 21px;
                padding-left: 5px;
                color: black;
                font-weight: normal;
                margin-left: -5px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .dropdown-options{
            margin-top: 0px;
            margin-left: 5px;
            position: absolute;
            left: 0px;
            border: 1px solid gray;
            z-index: 99;
            background-color: #fff;
            white-space: nowrap;
            line-height: normal;
            display: none;
        }
        .sr-menu{
            overflow: hidden;
            .flat-list{
                list-style-type: none;
                display: inline;
                li{
                    display: inline;
                    white-space: nowrap;
                    a{
                        color: #000;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:not(:first-of-type):before{
                        content: '- ';
                    }
                }
            }
        }
        .separator{
            color: gray;
            margin: 0px 3px;
        }
    }
    .left-header{
        .header-img{
            height: 40px;
            width: 135px;
            display: inline-block;
            margin: 2px 5px 3px 0;
            background-image: url(../img/snoo-sprites.png);
            background-position: 0px -1323px;
        }
        line-height: 0;
        .tab-menu{
            list-style-type: none;
            white-space: nowrap;
            display: inline-block;
            margin: 0 0 7px;
            vertical-align: bottom;
            list-style: none;
            font-size: 12px;
            padding: 0;
            li{
                display: inline;
                font-weight: bold;
                margin: 0px 3px;
                a{
                    padding: 2px 6px 0px 6px;
                    background-color: #eff7ff;
                }
                &.selected{
                    a{
                        background-color: #fff;
                        border: 1px solid #5f99cf;
                        border-bottom: 1px solid #fff;
                        color: #ff4500;
                    }
                }
            }
        }
    }
    .right-header{
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: #eff7ff;
        padding: 4px;
        line-height: 12px;
        border-top-left-radius: 7px;
        font-size: 10px;
        .karma{
            color: gray;
            font-weight: bold;
        }
    }

    .divider{
        color: gray;
        margin: 0px 2px;
    }
}

.content{
    margin: 7px 15px 0px;
}

.post{
    overflow:auto;
    .rank, .vote, .thumb{
        float: left;
    }
    .rank{
        width: 2.2ex;
        margin-top: 15px;
        color: #c6c6c6;
        font-family: Arial;
        font-size: 16px;
        text-align: right;
    }
    .vote{
        width: 6.1ex;
        font-weight: bold;
        margin: 0 7px;
        .score{
            text-align: center;
            color: #c6c6c6;
            &.upvote{
                color: #FF8B60;
            }
            &.downvote{
                color: #9494FF;
            }
        }
        &.unvoted{
            .downvote, .upvote{
                display: none;
            }
        }
        &.upvoted{
            .downvote, .novote{
                display: none;
            }
        }
        &.downvoted{
            .upvote, .novote{
                display: none;
            }
        }
    }
    .arrow{
        margin: 2px 0px 0px 0px;
        height: 14px;
        display: block;
        cursor: pointer;
        width: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: none;
        background-position: center center;
        background-repeat: no-repeat;
        &.up{
            background-image: url('../img/snoo-sprites.png');
            background-position: -84px -1618px;
            &.voted{
                background-position: -105px -1618px;
            }
        }
        &.down{
            background-image: url('../img/snoo-sprites.png');
            background-position: -42px -1618px;
            &.voted{
                background-position: -63px -1618px;
            }
        }
    }
    .thumb{
        font-size: 0;
        margin: 0 5px 2px 0;
        overflow: hidden;
        width: 70px;
        height: 70px;
    }
    .expand-button{
        width: 23px;
        height: 23px;
        display: inline-block;
        margin-right: 6px;
        padding: 0px;
        cursor: pointer;
        background-image: url('../img/sprite-expand.png');
        background-repeat: no-repeat;
        background-size: 23px;
        float: left;
        &.expand-img{
            background-position-y: -78px;
            &:hover{
                background-position-y: -52px;
            }
            &.collapsed{
                background-position-y: -26px;
                &:hover{
                    background-position-y: 0px;
                }
            }
        }
    }
    .expand-box{
        img{
            max-height: 960px;
        }
    }
    .title{
        color: #0000ff;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 1px;
        padding: 0px;
        overflow: hidden;
    }
    .domain{
        color: #888;
        font-size: 10px;
        white-space: nowrap;
        a{
            color: #888;
            display: inline-block;
            text-overflow: ellipsis;
            vertical-align: middle;
            max-width: 19em;
            &:hover{
                text-decoration: underline;
                max-width: none;
            }
        }
    }
    .details{
        color: #888;
        font-size: 10px;
        line-height: 1em;
        margin: 0;
    }
    ul.inline-list{
        display: block;
        padding: 1px 0;
        margin-bottom: 0;
        list-style-type: none;
        list-style: none;
        li{
            display: inline-block;
            border: none;
            padding-right: 4px;
            line-height: 1.6em;
            font-size: 10px;
            a{
                color: #888;
                font-weight: bold;
                padding: 0 1px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.building-template{
    .container{
        &:first-of-type{
            margin-top: 4em;
        }
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 4em;
        padding-bottom: 0.5em;
        margin-bottom: 0.25em;
        border-bottom: 2px solid #000;
    }
    h2{
        font-family: 'Playfair Display', serif;
    }
    h3, h4, h5, h6, p{
        font-family: "Roboto Condensed", sans-serif;
    }
}

.default-template{
    .container{
        &.header{
            width: auto;
            height: 60vh;
            .row{
            }
        }
    }
    .main-content{
        max-width: 350px;
        margin: 24vh auto 0;
    }
    h1{
        font-family: "Quicksand", sans-serif;
        background: linear-gradient(to bottom right, #F5DD29, #CF513D, #A86CC1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: fixed;
        &::selection{
            background: #FDC788;
        }
    }
    h2{
        font-family: "Quicksand", sans-serif;
    }
    &.secondary{
        .container.header{
            position: absolute;
            z-index: 1;
            width: 100%;
            background: linear-gradient(#a3bded, #6991c7);
            // background: radial-gradient(circle, #1b6389 65%, transparent 100%);
            background-attachment: fixed;
        }
        .top-header{
            margin: 30px auto;
            padding-left: 15px;
            padding-right: 15px;
            @media @gsm{
                width: 750px;
            }
            @media @gmd{
                width: 970px;
            }
            @media @xl{
                width: 1170px;
            }
        }
        span.logo{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300;
            color: #fff;
            font-size: 3em;
            strong{

            }
        }
        .main-content{
            max-width: unset;
        }
        h1{
            -webkit-text-fill-color: #fff;
            color: #fff;
            text-align: center;
            position: relative;
            // text-shadow: 1px 1px 0px #00695C,
            //              2px 2px 0px #00695C,
            //              3px 3px 0px #00695C;
            //              // 4px 4px 0px #00695C;
             &::selection{
                 background: #E0F2F1;
             }
        }
        h3{
            font-family: 'Roboto Condensed', sans-serif;
            color: #6991c7;
            strong{
                font-size: 26px;
            }
        }
        p{
            color: #6991c7;
        }
        span.date{
            font-size: 14px;
        }
        .desktop-page{
            @media @md{
                display: none;
            }
            margin-top: 20px;
            background-image: url('../img/desktop.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 440px;
            &.macbook{
                background-image: url('../img/macbook.png');
                width: 120%;
                left: -10%;
                position: relative;
                .desktop-container{
                    height: 229px;
                    top: 18px;
                    width: 368px;
                }
            }
            .desktop-container{
                height: 286px;
                overflow: scroll;
                top: 23px;
                position: relative;
                width: 513px;
                margin: 0 auto;
            }
            img{
                width: 100%;
                margin: 0 auto;
                display: block;
                position: relative;
                overflow: scroll;
            }
        }
        .col-side{
            .fa{
                color: #6991c7;
            }
        }
        .main-wrapper{
            position: absolute;
            z-index: 2;
            margin-top: 60vh;
            width:100%;
            background-color: #fff;
        }
        .row.project{
            @media @md{
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .row.contact-me{
            background-color: #6991c7;
            color: #fff;
            padding: 30px 0 80px;
            h2{
                font-size: 2.4em;
                font-weight: bold;
            }
            p{
                color: #fff;
                margin-bottom: 15px;
                font-size: 1.6em;
                font-family: "Quicksand", sans-serif;
            }
        }
    }
}

.mobile-only{
    @media @gmd{
        display: none !important;
    }
}
